
/.idea/*
/.settings/*

.DS_Store
.metadata
.svn
.classpath
.gradle/
.project

bower_components/
build/
target/
*.iml
src/main/resources/private/*

client_secret.json
setting.json
StoredCredential
*.sqlite3
/logs
