{
  "uri": "",
  "authPath": "",
  "icalPath": "",
  "userName": "",
  "password": "",
  "googleCalendarId": "",
  "clientSecretJsonPath": "",
  "dataStoreDir": "",
  "IsSpecifyTargetYearMonth": "",
  "targetYearMonthType": "",
  "specificTargetYearMonth": "",
  "targetRange": ""
}